.carousel-control-next-icon{
    background-color: rgba(54, 197, 197, 0.653);
}
.carousel-control-prev-icon{
    background-color: rgba(54, 197, 197, 0.653);
}

#about{
    background-image: url(/img/map.jpg);
}

